<div class="balloon">
    <h2 class="balloon__header">$[properties.balloonContentHeader]</h2>
    <a href="#" 
       class="balloon__link"
       data-coords="$[properties.balloonContentCoords]"
       data-address="$[properties.balloonContentAddress]"
       id="balloon-link">
        $[properties.balloonContentLink]
    </a>
    <div class="balloon__body">$[properties.balloonContentBody]</div>
    <div class="balloon__footer">$[properties.balloonContentFooter]</div>
</div>